.dl-menuwrapper ul, .dl-menuwrapper li {margin:0;padding:0;list-style:none;outline:0;border:0;}

.dl-menuwrapper {
	width: 300px;
	xmax-width: 300px;
	xfloat: right;
	xposition: relative;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	-moz-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;
	right: 0;
	/* min-width: 300px; */
	display: none;
	position: absolute;
}

.dl-menuwrapper button {
	background: transparent;
	border: none;
	width: auto;
	height: 32px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0 10px;
	color: #fff;
	padding: 13px;
	z-index: 999;
	float: right;
	width: 40px !important;
}
.dl-menuwrapper ul {
	xbackground: #aaa;
	x-webkit-box-shadow: 0px 1px 4px 0px #c4c4c4;
	xbox-shadow: 0px 1px 4px 0px #c4c4c4;
}
.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 22px;
	height: 3px;
	background: #303030;
	top: 7px;
	left: 7%;
	box-shadow: 0 6px 0 #303030, 0 12px 0 #303030;
}
.dl-menuwrapper ul {
	padding: 0;
	list-style: none;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.dl-menuwrapper li {
	position: relative;
	z-index: 999;
}

.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 15px;
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 500;
	outline: none;
	letter-spacing: 0.2px;
	text-align: left;
	z-index: 999;
}

.dl-menuwrapper .dl-menu {
	margin: 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(68, 68, 68, 0.15);
	box-shadow: 0px 5px 15px 0px rgba(68, 68, 68, 0.15);
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
