.testimonials.style1{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.testimonials-content{position: relative;width: 100%;transition:all .5s ease-in;margin-bottom: 10px;float: left;}

.testimonials.style1 .testimonial {
	position: absolute;
	text-align: center;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	display: none;
}

.testimonials.style1 .testimonial.active{display: block;}

.testimonials.style1 .testimonial p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
	color: #5C5C5C;
	font-weight: normal;
	text-align: center !important;
}

.testimonials.style1 .testimonial span.t-author-style1, .testimonials.style1 .testimonial span a{
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 800;
	color: #333;
	letter-spacing: 4px;
}
 .testimonials.style1 .testimonial span a{letter-spacing: 3px;font-size: 11px;}

.testimonials.style1 .testimonial-box{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	float: left;
	text-align: center;
}
.testimonials.style1 .testimonial-nav{width: auto;margin: 0 auto 25px;display: table;float: none;text-align: center;}
.testimonials.style1 .testimonial-nav li{
	position: relative;
	float: left;
	list-style-type: none;
	width: 50px;
	height: 50px;
	margin: 0 20px 10px 0;
	border-radius: 100px;
}
.testimonials.style1 .testimonial-nav li a{
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0;
	border: none;
	border-radius: 100px;
	overflow: hidden;
	opacity: 0.5;
}
.testimonials.style1 .testimonial-nav li a.active{
	opacity: 1;
}
.cover-test-img{
	background: rgba(26, 188, 156,0.8);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	opacity: 0;
	border-radius: 100px;
	overflow: hidden;
	background: none !important;
}
.testimonials.style1 .testimonial-nav li a:hover .cover-test-img, .testimonials.style1 .testimonial-nav li a.active .cover-test-img{
	opacity: 1;
}
