img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
/*------------------------------*/
.widget li a:after, .widget_nav_menu li a:after, .custom-widget.widget_recent_entries li a:after {
    color: #595959;
}

body, p, .lovepost a, .widget ul li a, .widget p, .widget span, .widget ul li, .the_content ul li, .the_content ol li, #recentcomments li, .custom-widget h4, .widget.des_cubeportfolio_widget h4, .widget.des_recent_posts_widget h4, .custom-widget ul li a, .aio-icon-description, li, .smile_icon_list li .icon_description p {
    font-family: 'Muli', 'Arial', 'sans-serif' ,sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #595959;
}

.map_info_text {
    font-family: 'Muli', 'Arial', 'sans-serif' ,sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #595959 !important;
}

a, .pageXofY .pageX, .pricing .bestprice .name, .filter li a:hover, .widget_links ul li a:hover, #contacts a:hover, .title-color, .ms-staff-carousel .ms-staff-info h4, .filter li a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, a.go-about:hover, .text_color, .navbar-nav .dropdown-menu a:hover, .profile .profile-name, #elements h4, #contact li a:hover, #agency-slider h5, .ms-showcase1 .product-tt h3, .filter li a.active, .contacts li i, .big-icon i, .navbar-default.dark .navbar-brand:hover,.navbar-default.dark .navbar-brand:focus, a.p-button.border:hover, .navbar-default.light-menu .navbar-nav > li > a.selected, .navbar-default.light-menu .navbar-nav > li > a.hover_selected, .navbar-default.light-menu .navbar-nav > li > a.selected:hover, .navbar-default.light-menu .navbar-nav > li > a.hover_selected:hover, .navbar-default.light-menu .navbar-nav > li > a.selected, .navbar-default.light-menu .navbar-nav > li > a.hover_selected, .navbar-default.light-menu .navbar-nav > .open > a,.navbar-default.light-menu .navbar-nav > .open > a:hover, .navbar-default.light-menu .navbar-nav > .open > a:focus, .light-menu .dropdown-menu > li > a:focus, a.social:hover:before, .symbol.colored i, .icon-nofill, .slidecontent-bi .project-title-bi p a:hover, .grid .figcaption a.thumb-link:hover, .tp-caption a:hover, .btn-1d:hover, .btn-1d:active, #contacts .tweet_text a, #contacts .tweet_time a, .social-font-awesome li a:hover, h2.post-title a:hover, .tags a:hover, .hazel-button-color span, #contacts .form-success p, .nav-container .social-icons-fa a i:hover, .the_title h2 a:hover, .widget ul li a:hover, .nav-previous-nav1 a, .nav-next-nav1 a, .des-pages .postpagelinks, .widget_nav_menu .current-menu-item > a, .team-position, .nav-container .hazel_minicart li a:hover, .metas-container i, .header_style2_contact_info .telephone-contact .email, .special_tabs.icontext .label.current i, .special_tabs.icontext .label.current a, .special_tabs.text .label.current a, .widget-contact-content i {
    color: #d8d8d8;
}

.testimonials.style1 .testimonial span a {
    color: #d8d8d8 !important;
}

.testimonials .cover-test-img {
    background: rgba(216,216,216,.8);
}

.aio-icon-read, .tp-caption a.text_color {
    color: #d8d8d8 !important;
}

#big_footer .social-icons-fa a i {
    color: #333333;
}

#big_footer .social-icons-fa a i:hover {
    color: #888888;
}

#big_footer .social-icons-fa ul{
    display: table;
    margin: 0 auto;
}

.homepage_parallax .home-logo-text a.light:hover, .homepage_parallax .home-logo-text a.dark:hover, .widget li a:hover:before, .widget_nav_menu li a:hover:before, .footer_sidebar ul li a:hover:before, .custom-widget li a:hover:before, .single-portfolio .social-shares ul li a:hover i {
    color: #d8d8d8 !important;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after, .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before {
    border-color: #d8d8d8 !important;
}

#big_footer input.button {
    background-color: #d8d8d8 !important;
}

a.sf-button.hide-icon, .tabs li.current, .readmore:hover, .navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, a.p-button:hover, a.p-button.colored, .light #contacts a.p-button, .tagcloud a:hover, .rounded.fill, .colored-section, .pricing .bestprice .price, .pricing .bestprice .signup, .signup:hover, .divider.colored, .services-graph li span, .no-touch .hi-icon-effect-1a .hi-icon:hover, .hi-icon-effect-1b .hi-icon:hover, .no-touch .hi-icon-effect-1b .hi-icon:hover, .symbol.colored .line-left, .symbol.colored .line-right, .projects-overlay #projects-loader, .panel-group .panel.active .panel-heading, .double-bounce1, .double-bounce2, .hazel-button-color-1d:after, .container1 > div, .container2 > div, .container3 > div, .cbp-l-caption-buttonLeft:hover, .cbp-l-caption-buttonRight:hover, .flex-control-paging li a.flex-active, .post-content a:hover .post-quote, .post-listing .post a:hover .post-quote, h2.post-title.post-link:hover, .hazel-button-color-1d:after, .woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range,.hazel_little_shopping_bag .overview span.minicart_items, .nav-previous, .nav-next, .next-posts, .prev-posts, .btn-contact-left input, .single #commentform .form-submit #submit, a#send-comment, .errorbutton, .vc_tta.vc_general .vc_active .vc_tta-panel-title, .modal-popup-link .tooltip-content, .woocommerce span.onsale, .woocommerce-page span.onsale, .des-button-dark {
    background-color: #d8d8d8;
}

.aio-icon-tooltip .aio-icon:hover:after {
    box-shadow: 0 0 0 1px #d8d8d8 !important;
}

.cbp-nav-next:hover, .cbp-nav-prev:hover, .just-icon-align-left .aio-icon:hover, .aio-icon-tooltip .aio-icon:hover, .btn-contact-left.inversecolor input:hover {
    background-color: #d8d8d8 !important;
}

.widget .slick-dots li.slick-active i, .style-light .slick-dots li.slick-active i, .style-dark .slick-dots li.slick-active i {
    color: #d8d8d8 !important;
    opacity: 1;
}

.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce #content div.product form.cart .button, .woocommerce div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale, .top-bar .phone-mail li.text_field, .nav-previous-nav1:hover:before, .nav-next-nav1:hover:after {
    background-color: #d8d8d8;
    color: #fff !important;
}

.nav-container a.button.hazel_minicart_checkout_but:hover, .nav-container a.button.hazel_minicart_cart_but:hover {
    background-color: #d8d8d8 !important;
    color: #fff !important;
    border: 2px solid #d8d8d8 !important;
    opacity: 1;
}

.hazel-button-color-1d:hover, .hazel-button-color-1d:active {
    border: 1px double #d8d8d8;
}

.hazel-button-color {
    background-color: #d8d8d8;
    color: #d8d8d8;
}

.cbp-l-caption-alignCenter .cbp-l-caption-buttonLeft:hover, .cbp-l-caption-alignCenter .cbp-l-caption-buttonRight:hover {
    background-color: #d8d8d8 !important;
    border: 2px solid #d8d8d8 !important;
    color: #fff !important;
}

.widget_posts .tabs li.current {
    border: 1px solid #d8d8d8;
}

.hi-icon-effect-1 .hi-icon:after {
    box-shadow: 0 0 0 3px #d8d8d8;
}

.colored-section:after {
    border: 20px solid #d8d8d8;
}

.filter li a.active, .filter li a:hover, .panel-group .panel.active .panel-heading {
    border: 1px solid #d8d8d8;
}

.navbar-default.light-menu.border .navbar-nav > li > a.selected:before, .navbar-default.light-menu.border .navbar-nav > li > a.hover_selected:before, .navbar-default.light-menu.border .navbar-nav > li > a.selected:hover, .navbar-default.light-menu.border .navbar-nav > li > a.hover_selected:hover, .navbar-default.light-menu.border .navbar-nav > li > a.selected, .navbar-default.light-menu.border .navbar-nav > li > a.hover_selected {
    border-bottom: 1px solid #d8d8d8;
}

.doubleborder {
    border: 6px double #d8d8d8;
}

.special_tabs.icon .current .hazel_icon_special_tabs {
    background: #d8d8d8;
    border: 1px solid transparent;
}

.hazel-button-color, .des-pages .postpagelinks, .tagcloud a:hover {
    border: 1px solid #d8d8d8;
}

.navbar-collapse ul.menu-depth-1 li:not(.hazel_mega_hide_link) a, .dl-menuwrapper li:not(.hazel_mega_hide_link) a, .gosubmenu, .nav-container .hazel_minicart ul li,.navbar-collapse ul.menu-depth-1 li:not(.hazel_mega_hide_link) a.main-menu-icon {
    font-family: 'Hind', 'Arial', 'sans-serif', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0px;
}

.dl-back {
    color: #333333;
}

.navbar-collapse ul.menu-depth-1 li:not(.hazel_mega_hide_link):hover > a, .dl-menuwrapper li:not(.hazel_mega_hide_link):hover > a, .dl-menuwrapper li:not(.hazel_mega_hide_link):hover > a, .dl-menuwrapper li:not(.hazel_mega_hide_link):hover > .gosubmenu, .dl-menuwrapper li.dl-back:hover, .navbar-nav .dropdown-menu a:hover i, .dropdown-menu li.menu-item-has-children:not(.hazel_mega_hide_link):hover > a:before {
    color: #d8d8d8;
}

.menu-simple ul.menu-depth-1, .menu-simple ul.menu-depth-1 ul, .menu-simple ul.menu-depth-1, .menu-simple #dl-menu ul {
    background-color: rgba(255,255,255,0.95) !important;
}

.navbar-collapse .hazel_mega_menu ul.menu-depth-2, .navbar-collapse .hazel_mega_menu ul.menu-depth-2 ul {
    background-color: transparent !important;
}

.dl-menuwrapper li:not(.hazel_mega_hide_link):hover > a {
    background-color: rgba(16,16,16,0.95) !important;
}

.menu-simple li:not(.hazel_mega_menu) li.menu-item-depth-1:hover > a, .menu-simple li.menu-item-depth-2:hover > a, .menu-simple li.menu-item-depth-3:hover > a {
    background-color: rgba(16,16,16,0.95) !important;
}

.menu-square li:not(.hazel_mega_menu) li.menu-item-depth-1:hover > a, .menu-square li.menu-item-depth-2:hover > a, .menu-square li.menu-item-depth-3:hover > a {
    background-color: rgba(16,16,16,0.95) !important;
}

.navbar-collapse li:not(.hazel_mega_menu) ul.menu-depth-1 li:not(:first-child) {
    border-top: 1px solid #ededed;
}

.navbar-collapse li.hazel_mega_menu ul.menu-depth-2 {
    border-right: 1px solid #ededed;
}

.rtl .navbar-collapse li.hazel_mega_menu ul.menu-depth-2 {
    border-left: 1px solid #ededed;
}

#dl-menu ul li:not(:last-child) a, .hazel_sub_menu_border_color {
    border-bottom: 1px solid #ededed;
}

.navbar-collapse > ul > li > a, .navbar-collapse .menu_style2_bearer > ul > li > a {
    font-family: 'Hind', 'Arial', 'sans-serif', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header.navbar .main-menu-icon {
    color: #444444;
}

.navbar-collapse > ul > li > a:hover, .navbar-collapse > ul > li.current-menu-ancestor > a, .navbar-collapse > ul > li.current-menu-item > a, .navbar-collapse > ul > li > a.selected, .navbar-collapse > ul > li > a.hover_selected, .navbar-collapse .menu_style2_bearer > ul > li > a:hover, .navbar-collapse .menu_style2_bearer > ul > li.current-menu-ancestor > a, .navbar-collapse .menu_style2_bearer > ul > li.current-menu-item > a, .navbar-collapse .menu_style2_bearer > ul > li > a.selected, .navbar-collapse .menu_style2_bearer > ul > li > a.hover_selected {
    color: #999999 !important;
}

header.navbar-default.hover-line .navbar-nav > li:hover > a:before, header.hover-line.navbar-default .navbar-nav > li:hover > a.selected:before, header.hover-line.navbar-default .navbar-nav > li.current-menu-item > a:before, header.hover-line.header_after_scroll.navbar-default .navbar-nav > li.current-menu-item > a:before, header.hover-line.header_after_scroll.navbar-default .navbar-nav > li:hover > a:before, header.hover-line.header_after_scroll.navbar-default .navbar-nav > li:hover > a.selected:before {
    border-bottom-color: #999999 !important;
}

header.navbar a.selected .main-menu-icon, header.navbar a.hover_selected .main-menu-icon {
    color: #999999 !important;
}

header.navbar.header_after_scroll a.selected .main-menu-icon, header.navbar.header_after_scroll a.hover_selected .main-menu-icon {
    color: #999999 !important;
}

.header.navbar .navbar-collapse ul li:hover a {
    background: #999999;
    color: #fff !important;
}

.navbar-default .navbar-nav > li {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 25px;
}

header .search_trigger, header .menu-controls, header .hazel_dynamic_shopping_bag, header .header_social_icons.with-social-icons {
    padding-top: 25px;
    padding-bottom: 25px;
}

header.style2 .header_style2_menu {
    background-color: #ffffff;
}

header:not(.header_after_scroll) .navbar-nav > li > ul {
    margin-top: 25px;
}

header:not(.header_after_scroll) .dl-menuwrapper button:after {
    background: #999999;
    box-shadow: 0 6px 0 #999999, 0 12px 0 #999999;
}

.hazel_minicart_wrapper {
    padding-top: 25px;
}

li.hazel_mega_hide_link > a, li.hazel_mega_hide_link > a:hover {
    font-family: 'Hind', 'Arial', 'sans-serif' !important;
    font-weight: 500;
    font-size: 11px !important;
    color: #333333 !important;
    text-transform: uppercase !important;
    letter-spacing: 3px !important;
}

/*
.nav-container .hazel_minicart li a:hover {
color: #333333 !important;
text-decoration: none;
}
*/
.nav-container .hazel_minicart li a {
    font-family: 'Hind', 'Arial', 'sans-serif';
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0px;
}

.dl-trigger {
    font-family: 'Hind', 'Arial', 'sans-serif' !important;
    font-weight: 500 !important;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hazel_minicart, .hazel_minicart_wrapper {
    background-color: rgba(255,255,255,0.95) !important;
}

.page_content a, header a, #big_footer a {
    font-family: 'Muli', 'Arial', 'sans-serif';
    font-weight: normal;
    font-size: 14px;
    color: #595959
}

.page_content a:hover, header a:hover, #big_footer a:hover, .page-template-blog-masonry-template .posts_category_filter li:hover,.page-template-blog-masonry-template .posts_category_filter li:active,.page-template-blog-masonry-template .posts_category_filter li:focus,.metas-container a:hover {
    color: #d8d8d8;
    /*background-color: #;*/
}

h1 {
    font-family: 'Hind', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 44px;
    color: #303030;
}

h2 {
    font-family: 'Hind', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 32px;
    color: #303030;
}

h3 {
    font-family: 'Hind', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 25px;
    color: #303030;
}

h4 {
    font-family: 'Hind', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 22px;
    color: #303030;
}

.widget h2 > .widget_title_span, .wpb_content_element .wpb_accordion_header a, .custom-widget h4, .widget.des_cubeportfolio_widget h4, .widget.des_recent_posts_widget h4 {
    color: #303030;
}

.ult-item-wrap .title h4 {
    font-size: 16px !important;
}

.wpb_content_element .wpb_accordion_header.ui-accordion-header-active a {
    color: #d8d8d8;
}

h5 {
    font-family: 'Hind', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 18px;
    color: #303030;
}

h6 {
    font-family: 'Hind', 'Arial', 'sans-serif';
    font-weight: 600;
    font-size: 12px;
    color: #303030;
}

body#boxed_layout {
    background-color: #ffffff;
}

header.navbar {
    background-color: rgba(255,255,255,1);
}

.navbar{
    margin-bottom: 0;
}

.navbar-brand{
    padding: 0;
}

header .header_style2_contact_info {
    margin-top: 29px !important;
    margin-bottom: 29px !important;
}

header .navbar-header {
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: 0px;
    height: 18px;
}

header a.navbar-brand img {
    max-height: 18px;
}

header.navbar.header_after_scroll, header.header_after_scroll .navbar-nav > li.hazel_mega_menu > .dropdown-menu, header.header_after_scroll .navbar-nav > li:not(.hazel_mega_menu) .dropdown-menu {
    background-color: rgba(255,255,255,1)
}

header.header_after_scroll a.navbar-brand img.logo_after_scroll {
    max-height: 18px;
}

header.header_after_scroll .navbar-collapse ul.menu-depth-1 li:not(.hazel_mega_hide_link) a, header.header_after_scroll .dl-menuwrapper li:not(.hazel_mega_hide_link) a, header.header_after_scroll .gosubmenu {
    color: #333333;
}

header.header_after_scroll .dl-back {
    color: #333333;
}

header.header_after_scroll .navbar-collapse ul.menu-depth-1 li:not(.hazel_mega_hide_link):hover > a, header.header_after_scroll .dl-menuwrapper li:not(.hazel_mega_hide_link):hover > a, header.header_after_scroll .dl-menuwrapper li:not(.hazel_mega_hide_link):hover > a, header.header_after_scroll .dl-menuwrapper li:not(.hazel_mega_hide_link):hover > header.header_after_scroll .gosubmenu, header.header_after_scroll .dl-menuwrapper li.dl-back:hover, header.header_after_scroll.navbar .nav-container .dropdown-menu li:hover {
    color: #d8d8d8;
}

header.header_after_scroll .navbar-collapse .hazel_mega_menu ul.menu-depth-2, header.header_after_scroll .navbar-collapse .hazel_mega_menu ul.menu-depth-2 ul {
    background-color: transparent !important;
}

.hazel-push-sidebar-content h4 {
    color: #ffffff;
}

header li:not(.hazel_mega_menu) ul.menu-depth-1 li:hover, header li.hazel_mega_menu li.menu-item-depth-1 li:hover, header #dl-menu ul li:hover ,header.header_after_scroll li:not(.hazel_mega_menu) ul.menu-depth-1 li:hover, header.header_after_scroll li.hazel_mega_menu li.menu-item-depth-1 li:hover, header.header_after_scroll #dl-menu ul li:hover {
    background-color: rgba(16,16,16,0.95) !important;
}

header.header_after_scroll .navbar-collapse li:not(.hazel_mega_menu) ul.menu-depth-1 li:not(:first-child) {
    border-top: 1px solid #ededed;
}

header.header_after_scroll .navbar-collapse li.hazel_mega_menu ul.menu-depth-2 {
    border-right: 1px solid #ededed;
}

header.header_after_scroll #dl-menu li:not(:last-child) a, header.header_after_scroll #dl-menu ul li:not(:last-child) a {
    border-bottom: 1px solid #ededed;
}

.header_after_scroll .navbar-collapse > ul > li > a, .header_after_scroll .navbar-collapse .menu_style2_bearer > ul > li > a {
    font-family: 'Hind', 'Arial', 'sans-serif';
    font-weight: 500;
    font-size: 11px;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header_after_scroll .navbar-collapse > ul > li > a:hover, .header_after_scroll .navbar-collapse > ul > li.current-menu-ancestor > a, .header_after_scroll .navbar-collapse > ul > li.current-menu-item > a, .header_after_scroll .navbar-collapse > ul > li > a.selected, .header_after_scroll .navbar-collapse > ul > li > a.hover_selected, .header_after_scroll .navbar-collapse .menu_style2_bearer > ul > li > a:hover, .header_after_scroll .navbar-collapse .menu_style2_bearer > ul > li.current-menu-ancestor > a, .header_after_scroll .navbar-collapse .menu_style2_bearer > ul > li.current-menu-item > a, .header_after_scroll .navbar-collapse .menu_style2_bearer > ul > li > a.selected, .header_after_scroll .navbar-collapse .menu_style2_bearer > ul > li > a.hover_selected {
    color: #999999 !important;
}

header.navbar-default.hover-line .navbar-nav > li:hover > a:before, header.hover-line.navbar-default .navbar-nav > li:hover > a.selected:before, header.hover-line.navbar-default .navbar-nav > li.current-menu-item > a:before, header.hover-line.header_after_scroll.navbar-default .navbar-nav > li.current-menu-item > a:before, header.hover-line.header_after_scroll.navbar-default .navbar-nav > li:hover > a:before, header.hover-line.header_after_scroll.navbar-default .navbar-nav > li:hover > a.selected:before {
    border-bottom-color: #999999 !important;
}

.header_after_scroll .dl-menuwrapper button:after {
    background: #999999;
    box-shadow: 0 6px 0 #999999, 0 12px 0 #999999;
}

/* header.header_after_scroll li.hazel_mega_hide_link > a, header.header_after_scroll li.hazel_mega_hide_link > a:hover {
} */

header.header_after_scroll.navbar-default .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
}

header.header_after_scroll.navbar-default .navbar-nav > li {
    padding-right: 20px;
    padding-left: 20px;
}

header.header_after_scroll .search_trigger, header.header_after_scroll .menu-controls, header.header_after_scroll .hazel_dynamic_shopping_bag, header.header_after_scroll .header_social_icons.with-social-icons {
    padding-top: 10px;
    padding-bottom: 10px;
}

header.header_after_scroll .navbar-nav > li > ul {
    margin-top: 10px;
}

header.header_after_scroll .hazel_minicart_wrapper {
    padding-top: 10px;
}

header.header_after_scroll .header_style2_contact_info {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

header.header_after_scroll .navbar-header {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    height: 18px;
}

@media only screen and (max-width: 767px) {
    /* body header.header_after_scroll .nav-container .navbar-header {
    } */

    body header.header_after_scroll a.navbar-brand img, body header.header_after_scroll a.navbar-brand img.logo_after_scroll {
        max-height: 0px;
    }
}

/* header.header_after_scroll a.navbar-brand h1 {
    font-size: !important;
} */

#primary_footer > .container, #primary_footer > .no-fcontainer {
    padding-top: 40px;
    padding-bottom: 35px;
}

#primary_footer {
    background-color: rgb(255, 255, 255);
}

#primary_footer input, #primary_footer textarea {
    background-color: rgba(240,240,240,1);
}

header.header_not_fixed ul.menu-depth-1, header.header_not_fixed ul.menu-depth-1 ul, header.header_not_fixed ul.menu-depth-1 ul li, header.header_not_fixed #dl-menu ul {
    background-color: rgba(255,255,255,0.95) !important;
}

header.header_not_fixed li:not(.hazel_mega_menu) ul.menu-depth-1 li:hover, header.header_not_fixed li.hazel_mega_menu li.menu-item-depth-1 li:hover, header.header_not_fixed #dl-menu ul li:hover {
    background-color: rgba(16,16,16,0.95) !important;
}

#primary_footer input, #primary_footer textarea {
    border: 1px solid #dbdbdb;
}

/* #primary_footer hr, .footer_sidebar ul li, #big_footer .forms input, #big_footer .recent_posts_widget_2 .recentcomments_listing li {
    border-top: 1px solid #dbdbdb !important;
} */

/* .footer_sidebar ul li:last-child, #big_footer .recent_posts_widget_2 .recentcomments_listing li:last-child {
    border-bottom: 1px solid #dbdbdb !important;
} */

#primary_footer a {
    color: #707070;
}

#primary_footer, #primary_footer p, #big_footer input, #big_footer textarea {
    color: #707070;
    margin-bottom: 0;
}

#primary_footer .footer_sidebar > h4, #primary_footer .footer_sidebar > .widget > h4 {
    color: #101010;
}

#secondary_footer {
    background-color: rgba(16,16,16,1);
    padding-top: 20px;
    padding-bottom: 20px;
}

header #dl-menu ul {
    background-color: rgba(255,255,255,0.95) !important;
}

header ul.menu-depth-1, header ul.menu-depth-1 ul, header ul.menu-depth-1 ul li, header.header_after_scroll ul.menu-depth-1, header.header_after_scroll ul.menu-depth-1 ul, header.header_after_scroll ul.menu-depth-1 ul li, header.header_after_scroll #dl-menu ul {
    background-color: rgba(255,255,255,0.95) !important;
}

#secondary_footer .social-icons-fa a i {
    font-size: 14px !important;
    line-height: 14px;
    color: #333333;
}

#secondary_footer .social-icons-fa a i:before {
    font-size: 14px;
}

#secondary_footer .social-icons-fa a:hover i {
    color: #d8d8d8;
}

#hazel_website_load .introloading_logo {
    margin-left: 0px !important;
}

#hazel_website_load .introloading_logo {
    margin-top: 0px !important;
}

#hazel_website_load .introloading_logo img {
    height : 0px !important;
}

header .search_input {
    background-color: rgba(255,255,255,0.98);
}

header .search_input input.search_input_value {
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
    /*font-weight: ;*/
}

header .search_input input.search_input_value, header .search_close {
    font-size: 30px;
    color: #444444;
}

header .search_input .ajax_search_results ul {
    background-color: rgba(255,255,255,0.98);
}

header .search_input .ajax_search_results ul li.selected {
    background-color: rgba(242,242,242,0.98);
}

header .search_input .ajax_search_results ul li {
    border-bottom: 1px solid #dedede;
}

header .search_input .ajax_search_results ul li a {
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
    /*font-weight: ;*/
    font-size: 14px;
    color: #696969
}

header .search_input .ajax_search_results ul li.selected a {
    color: #3d3d3d
}

header .search_input .ajax_search_results ul li a span, header .search_input .ajax_search_results ul li a span i {
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
    /*font-weight: ;*/
    font-size: 12px;
    color: #c2c2c2
}

header .search_input .ajax_search_results ul li.selected a span {
    color: #c2c2c2
}

.hazel_breadcrumbs, .hazel_breadcrumbs a, .hazel_breadcrumbs span {
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
    /*font-weight: ;*/
    color: #f0f0f0;
    font-size: 11px;
}

#menu_top_bar > li ul {
    background: #000000;
}

#menu_top_bar > li ul li:hover {
    background: #000000;
}

#menu_top_bar > li ul a {
    color: #808080 !important;
}

#menu_top_bar > li ul a:hover, #menu_top_bar > li ul li:hover > a {
    color: #d8d8d8 !important;
}

.navbar-collapse ul.menu-depth-1 li:not(.hazel_mega_hide_link) a, .dl-menuwrapper li:not(.hazel_mega_hide_link) a, .gosubmenu, .nav-container .hazel_minicart ul li {
    font-family: 'Hind', 'Arial', 'sans-serif', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0px;
}

header li:not(.hazel_mega_menu) ul.menu-depth-1 li:hover, header li.hazel_mega_menu li.menu-item-depth-1 li:hover, header #dl-menu ul li:hover ,header.header_after_scroll li:not(.hazel_mega_menu) ul.menu-depth-1 li:hover, header.header_after_scroll li.hazel_mega_menu li.menu-item-depth-1 li:hover, header.header_after_scroll #dl-menu ul li:hover {
    background-color: rgba(16,16,16,0.95) !important;
}

header.navbar .dl-menuwrapper .main-menu-icon {
    color: #333333;
}

header li:not(.hazel_mega_menu) ul.menu-depth-1 li:hover, header li.hazel_mega_menu li.menu-item-depth-1 li:hover, header #dl-menu ul li:hover ,header.header_after_scroll li:not(.hazel_mega_menu) ul.menu-depth-1 li:hover, header.header_after_scroll li.hazel_mega_menu li.menu-item-depth-1 li:hover, header.header_after_scroll #dl-menu ul li:hover {
    background-color: rgba(16,16,16,0.95) !important;
}

.navbar-collapse ul.menu-depth-1 li:not(.hazel_mega_hide_link) a.main-menu-icon {
    color: #333333 !important;
}

header.navbar .nav-container .hazel_right_header_icons i, header .menu-controls i {
    color: #333333 !important;
}

header.navbar .nav-container .hazel_right_header_icons i:hover, header .menu-controls .hazel_right_header_icons i:hover {
    color: #d8d8d8 !important;
}

header.header_after_scroll.navbar .nav-container .hazel_right_header_icons i, header .menu-controls .hazel_right_header_icons i {
    color: #333333 !important;
}

header.header_after_scroll.navbar .nav-container .hazel_right_header_icons i:hover, header .menu-controls .hazel_right_header_icons i:hover {
    color: #d8d8d8 !important;
}

.hazel-push-sidebar.hazel-push-sidebar-right {
    background-color: #1a1a1a !important;
}

.hazel-push-sidebar .widget h2 > .widget_title_span, .hazel-push-sidebar .wpb_content_element .wpb_accordion_header a, .hazel-push-sidebar .custom-widget h4, .hazel-push-sidebar .widget.des_cubeportfolio_widget h4, .hazel-push-sidebar .widget.des_recent_posts_widget h4, .hazel-push-sidebar, .hazel-push-sidebar .widget h4 {
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
    /*font-weight: ;*/
    color: #ffffff !important;
    font-size: 16px;
}

.hazel-push-sidebar a:not(.vc_btn3 a) {
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
    /*font-weight: ;*/
    color: #6e6e6e !important;
    font-size: 16px;
}

.hazel-push-sidebar a:not(.vc_btn3):hover {
    color: #d8d8d8 !important;
}

.hazel-push-sidebar p, .widget-contact-info-content, .hazel-push-sidebar a:not(.vc_btn3) {
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
    /*font-weight: ;*/
    color: #ededed !important;
    font-size: 14px;
}

.tp-fullwidth-forcer {
    position: relative;
    z-index: -1;
}

h1 {
    letter-spacing: 5px;
}

h1,h2,h4,h5 {
    letter-spacing: 10px;
}

h3, h6 {
    letter-spacing: 3px;
}

.stats-block .stats-text, .proj-content h4 {
    letter-spacing: 2px;
}

h4.vc_tta-panel-title, table h5 {
    letter-spacing: 0;
}

#secondary_footer .footer_custom_text.left {
    padding-left: 0;
    margin-top: 20px;
    margin-left: 0;
    border-left: none;
}

#secondary_footer p {
    margin: 0 !important;
    font-size: 13px;
    color: #9c9c9c;
    font-weight: 600;
}

@media only screen and (max-width: 479px) {
    h1.page_title {
        font-size: 1.6em !important;
        letter-spacing: 10px !important;
    }
}
/*--------------------------------------*/

#cbpw-wrap33 {
    margin: 0px 0px 0px 0px;
}

#cbpw-grid33 .cbp-l-grid-projects-title {
    color: #474747;
    background-color: transparent;
    font-size: 15px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px 10px;
    text-transform: none;
}

#cbpw-grid33 .cbp-l-grid-projects-desc {
    color: #bbbfbf;
    background-color: transparent;
    font-size: 12px;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
    text-transform: none;
}

#cbpw-grid33 .cbp-l-caption-buttonLeft {
    color: #fff;
    background-color: transparent;
    font-size: 12px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    text-transform: none;
    padding: 0px 10px 0px 10px;
    margin: 10px 10px 4px 10px;
}

#cbpw-grid33 .cbp-l-caption-buttonRight {
    color: #fff;
    background-color: transparent;
    font-size: 13px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    text-transform: none;
    padding: 0px 10px 0px 10px;
    margin: 10px 10px 4px 10px;
}

#cbpw-grid33 .cbp-caption {
    margin-bottom: 0;
    height: 235px;
}

#cbpw-grid33 .cbp-caption-activeWrap {
    background-color: rgba(16,16,16,0.7);
}

#cbpw-filters33 .cbp-filter-item {
    background-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ECECEC;
    color: #888888;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    margin: 0px 10px 10px 0px;
    padding: 0px 17px 0px 17px;
    text-transform: none;
}

#cbpw-filters33 .cbp-filter-item:hover {
    background-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #101010;
    color: #101010;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    margin: 0px 10px 10px 0px;
    padding: 0px 17px 0px 17px;
    text-transform: none;
}

#cbpw-filters33 .cbp-filter-item.cbp-filter-item-active {
    background-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #101010;
    color: #101010;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    margin: 0px 10px 10px 0px;
    padding: 0px 17px 0px 17px;
    text-transform: none;
}

#cbpw-filters33 .cbp-filter-item.cbp-filter-item-active:hover {
    background-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #101010;
    color: #101010;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    margin: 0px 10px 10px 0px;
    padding: 0px 17px 0px 17px;
    text-transform: none;
}

#cbpw-filters33 .cbp-filter-counter {
    background-color: #101010;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    padding: 4px 0px 4px 0px;
}

#cbpw-filters33 .cbp-filter-counter:after {
    border-color: #101010 transparent;
}

#cbpw-loadMore33 .cbp-l-loadMore-link {
    color: #7E7B7B;
    background-color: transparent;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 12px;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 34px;
    text-align: center;
    padding: 0px 30px 0px 30px;
    margin: 40px 0px 0px 0px;
    text-transform: none;
}

#cbpw-loadMore33 .cbp-l-loadMore-link:hover {
    color: #B0B0B0;
    background-color: transparent;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 12px;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 34px;
    text-align: center;
    padding: 0px 30px 0px 30px;
    margin: 40px 0px 0px 0px;
    text-transform: none;
}

#cbpw-loadMore33 .cbp-l-loadMore-loading {
    color: #B0B0B0;
    background-color: transparent;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 12px;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 34px;
    text-align: center;
    padding: 0px 30px 0px 30px;
    margin: 40px 0px 0px 0px;
    text-transform: none;
}

#cbpw-loadMore33 .cbp-l-loadMore-loading:hover {
    color: #B0B0B0;
    background-color: transparent;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 12px;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 34px;
    text-align: center;
    padding: 0px 30px 0px 30px;
    margin: 40px 0px 0px 0px;
    text-transform: none;
}

#cbpw-loadMore33 .cbp-l-loadMore-stop {
    color: #B0B0B0;
    background-color: transparent;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 12px;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 34px;
    text-align: center;
    padding: 0px 30px 0px 30px;
    margin: 40px 0px 0px 0px;
    text-transform: none;
}

#cbpw-loadMore33 .cbp-l-loadMore-stop:hover {
    color: #B0B0B0;
    background-color: transparent;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DEDEDE;
    font-size: 12px;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 34px;
    text-align: center;
    padding: 0px 30px 0px 30px;
    margin: 40px 0px 0px 0px;
    text-transform: none;
}

#cbpw-singlePage33 .cbp-popup-navigation-wrap {
    background-color: #34425C;
}

#cbpw-singlePage33 .cbp-popup-singlePage-counter {
    color: #bbc0df;
    font-size: 13px;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
}
/*--------------------------------*/
.vc_custom_1481576227367 {
    margin-top: 80px !important;
    margin-bottom: 60px !important;
}

.vc_custom_1545057448404 {
    padding-top: 100px !important;
    padding-bottom: 40px !important;
}

.vc_custom_1483477610246 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.vc_custom_1481576396754 {
    padding-top: 100px !important;
    padding-bottom: 80px !important;
}

.vc_custom_1482014693908 {
    padding-top: 120px !important;
    padding-bottom: 60px !important;
}
.vc_custom_1484172416091 {
    padding-top: 60px !important;
    padding-bottom: 100px !important;
}

.vc_custom_1407253942746{
    padding-top: 100px !important;
    padding-bottom: 20px !important;
}

.vc_custom_1481236650908 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.ult_ecpsub_cont {
    max-width: 100%;
}

.ult_exp_content {
    padding: 0;
}

.ult_expheader {
    position: relative;
    top: 28px;
}

section.section_page-25 {
    background-color: #101010 !important;
}
